@media screen and (max-width: 2500px) and (min-width: 2000px) {
    ::ng-deep .priority-5 {
        display: revert !important;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1400px) {
    ::ng-deep .priority-5 {
        display: none !important;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
    ::ng-deep .priority-5 {
        display: none !important;
    }
    ::ng-deep .priority-4 {
        display: none !important;
    }
    ::ng-deep .priority-3 {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    ::ng-deep .priority-5 {
        display: none !important;
    }
    ::ng-deep .priority-4 {
        display: none !important;
    }
    ::ng-deep .priority-3 {
        display: none !important;
    }
    ::ng-deep .priority-2 {
        display: none !important;
    }
}