<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="title">
        Contact us Form
      </div>
    </div>
  </div>
  <form action="#">
    <div class="row ">
      <div class="col-sm">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">First Name</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Last Name</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Email Address (style normal)</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-data sm">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Website Name (style sm)</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-data es">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Website Name (style es)</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="input-data textarea">
          <textarea rows="8" cols="80" required></textarea>
          <div class="underline"></div>
          <label for="">Write your message</label>
          <div class="row submit-btn"> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="input-data">
          <input type="password" required>
          <div class="underline"></div>
          <label for="">Password</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-data">
          <input type="password" required>
          <div class="underline"></div>
          <label for="">Password verif</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">

        <select class="selected">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>

      </div>
      <div class="col-sm">
        <div>
          <label for="">Example multiple select</label>
        </div>
        <div>
        <select multiple class="selected" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
     

      </div>

    </div>

    <div class="row">
      <div class="col-sm">
        <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
      </div>
      <div class="col-sm">
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="col-sm">
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="wrapper">
          <input type="radio" name="select" id="option-1" checked>
          <input type="radio" name="select" id="option-2">
          <label for="option-1" class="option option-1">
            <div class="dot"></div>
            <span>Homme</span>
          </label>
          <label for="option-2" class="option option-2">
            <div class="dot"></div>
            <span>Femme</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-success">Success</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-danger">Danger</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-warning">Warning</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-dark">Dark</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-info">Info</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-link">Link</button>
      </div>

    </div>
    <div class="row submit-btn">
      <div class="col-sm">
        <div class="input-data">
          <div class="inner"></div>
          <input type="submit" value="submit">
        </div>
      </div>
    </div>
  </form>
</div>