.datePicker{
    width: 100px;
    font-size: 1.2em!important;
    height: 29px;
    font-size: 1.2em;
}
.container {
    padding: 0px;
    margin:0px;
    width: 120px;
}
.calendar{
    background-color: antiquewhite;
    position: absolute;
}